<! DOCTYPE html>
<html>
  <head>
    <tittle>
      Carrier Website

    </tittle>
  </head>
  <body>
  <h1> Carrear Hi</h1>
  <img src ="static/saulo-mohana-wNz7_5EvUWU-unsplash.jpg" height="320"">
  <h2> About Jovian</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet porttitor eget dolor morbi non arcu. Purus faucibus ornare suspendisse sed nisi lacus. Quis risus sed vulputate odio ut. Nascetur ridiculus mus mauris vitae ultricies leo integer. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Egestas dui id ornare arcu odio ut sem nulla pharetra. Pellentesque elit eget gravida cum sociis. Amet nisl suscipit adipiscing bibendum est. Sit amet facilisis magna etiam tempor orci eu. Auctor eu augue ut lectus. Urna neque viverra justo nec ultrices dui.

  Laoreet sit amet cursus sit amet dictum sit. Augue neque gravida in fermentum et. Adipiscing tristique risus nec feugiat in fermentum. Faucibus scelerisque eleifend donec pretium vulputate sapien nec. Scelerisque fermentum dui faucibus in. Faucibus turpis in eu mi. In hendrerit gravida rutrum quisque non tellus orci ac. Tempor nec feugiat nisl pretium. Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Sed libero enim sed faucibus. Cras tincidunt lobortis feugiat vivamus.</p>
    <h2>job vacancies</h2>
    <p>todo JD</p>
    <button>contact us</button>
    </body>
<
</html>